.body2{
    background-position: 100%;
    background: no-repeat;
    background-image: url(/img/tumblr_o4kwyhsrOI1rsgx3eo1_540.gif);
    background-size: cover;
}
  
.imput{
    text-align: center;
}
h1{
text-align: center;}